main {
  justify-content: center;
  align-items: center;
  background-image: url('https://images.photowall.com/products/49965/world-map-detailed-without-roads-grey.jpg?h=699&q=85');
  background-size: cover;
  position: relative;
}
main:after {
  content: '';
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.9;
  z-index: 10;
  position: absolute;
 }
.MuiButton-containedPrimary {
  height: 30px;
  position: relative;
  z-index: 11;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.story {
  max-width: 400px;
  width: 100%;
  position: relative;
  z-index: 11;
}
.story-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.storesList {
  position: relative;
  z-index: 11;
  margin-top: 40px;
}
.storesList .active{
  color: red;
}
.preloader {
  z-index: 12;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.9;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
